自动简历筛选（finish）.json
{
  "name": "自动简历筛选（finish）",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "fa56d9a8-6e70-44dd-ae95-3a2b92d652e4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "b839d67c-76e7-431d-8f73-edea5e748b52",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "3bb88b80-aeb1-4c55-b4b6-2330bca8c262",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6fc7ba2-1a12-420a-91ca-e69a32ce0ea2",
              "name": "简历文本",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        368
      ],
      "id": "04511b3c-b9d0-4ab6-a61c-f8e4eb503aaa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "={{ $json['简历文本'] }}",
        "categories": {
          "categories": [
            {
              "category": "pass",
              "description": "通过筛选"
            },
            {
              "category": "fail",
              "description": "没通过筛选"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "找出学历在硕士以上，且年龄在32岁以下的归类到pass,其余的归类到fail中"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        896,
        368
      ],
      "id": "3f2bde45-34c1-48b8-8d04-396507d15477",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1-distill-qwen-14b",
          "mode": "list",
          "cachedResultName": "deepseek-r1-distill-qwen-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        592
      ],
      "id": "ab732928-4f03-476a-9305-776ec709a123",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i1nyBSnKjPaZiKdz",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=请分析以下简历文本。提取候选人的姓名、年龄和最高学历。\n请以JSON格式提供输出。例如：\n{\n  \"姓名\": \"字符串\",\n  \"年龄\": \"整数\",\n  \"学历\": \"字符串\"\n}\n\n简历文本:\n{{ $json['简历文本'] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1280,
        -96
      ],
      "id": "42229dd6-b4a9-4c3c-a5bb-c3ddbd41b82c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=请分析以下简历文本。提取候选人的姓名、年龄和最高学历。\n请以JSON格式提供输出。例如：\n{\n  \"姓名\": \"字符串\",\n  \"年龄\": \"整数\",\n  \"学历\": \"字符串\"\n}\n\n简历文本:\n{{ $json['简历文本'] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1328,
        624
      ],
      "id": "d4c151c2-f7e4-4bfd-8432-44f5bb8a4b02",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1-distill-qwen-14b",
          "mode": "list",
          "cachedResultName": "deepseek-r1-distill-qwen-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        128
      ],
      "id": "f2dede41-2523-4526-abfe-285ad6528096",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "i1nyBSnKjPaZiKdz",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1-distill-qwen-14b",
          "mode": "list",
          "cachedResultName": "deepseek-r1-distill-qwen-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        848
      ],
      "id": "f09f32f6-5fe9-4eb2-842a-78669b039835",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "i1nyBSnKjPaZiKdz",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"姓名\": \"\",\n\t\"年龄\": \"\",\n    \"学历\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1376,
        128
      ],
      "id": "68e60ca6-12b8-46c7-9537-990ede1264a2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1-distill-qwen-14b",
          "mode": "list",
          "cachedResultName": "deepseek-r1-distill-qwen-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        336
      ],
      "id": "86d20659-ced6-4c3e-9f61-3c171521eb11",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "i1nyBSnKjPaZiKdz",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:batchAdd",
        "app_toke": "GDAhb3ka4aZIWKsEbXBcQXMrnZc",
        "table_id": "tbl38BuiAeR72Scp",
        "body": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"姓名\": \"{{ $json.output['姓名'] }}\",\n         \"年龄\": {{ $json.output['年龄'] }},\n         \"学历\": \"{{ $json.output['学历'] }}\"\n      }\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1744,
        112
      ],
      "id": "61424f41-4238-43b3-9ec9-451eb2ec2b1c",
      "name": "Bitable:table:record:batchAdd bitable",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "M8Kn9hnCXAjRCwbF",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:batchAdd",
        "app_toke": "GDAhb3ka4aZIWKsEbXBcQXMrnZc",
        "table_id": "tblDQP18zkpHeO3E",
        "body": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"姓名\": \"{{ $json.output['姓名'] }}\",\n         \"年龄\": {{ $json.output['年龄'] }},\n         \"学历\": \"{{ $json.output['学历'] }}\"\n      }\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1744,
        624
      ],
      "id": "2f104278-85be-408b-855d-36c07ac09681",
      "name": "Bitable:table:record:batchAdd bitable1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "M8Kn9hnCXAjRCwbF",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"姓名\": \"\",\n\t\"年龄\": \"\",\n    \"学历\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1472,
        832
      ],
      "id": "ee060d32-27e4-429a-9edd-ee8effc21205",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1-distill-qwen-14b",
          "mode": "list",
          "cachedResultName": "deepseek-r1-distill-qwen-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        1040
      ],
      "id": "300ee0f4-f0fb-4714-bb44-5266f7980e95",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "i1nyBSnKjPaZiKdz",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "# 自动简历筛选器\n# author：tigerAI\n# 公众号：老虎聊AI\n# 视频号：老虎聊AI\n# description： \n## 读取本地目录中的候选人的简历，筛选出符合条件的候选人，将通过和未通过的候选人填到飞书的多维表格中。目前定义的筛选条件是：学历在硕士以上，年龄在32岁以下。（筛选条件可以根据客户的需求进行动态修改）\n",
        "height": 480,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -160
      ],
      "id": "9425c810-25cd-43a9-9fcf-ddf36437848c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Bitable:table:record:batchAdd bitable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Bitable:table:record:batchAdd bitable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "a5030c38-33d6-43d5-ad2c-142d26f6f40c",
  "meta": {
    "templateId": "1951",
    "templateCredsSetupCompleted": true,
    "instanceId": "3a9f1808fd9411cdad9f0600c716c707a044601d01fa7c58b647a22ed7dd15bf"
  },
  "id": "lhSdhciryiSdocgd",
  "tags": [
    {
      "createdAt": "2025-08-28T09:51:27.976Z",
      "updatedAt": "2025-08-28T09:51:46.990Z",
      "id": "Z3UYalwJzVB8nUsy",
      "name": "小报童案例"
    }
  ]
}